.App {
  text-align: center;
}

.image{
  float: left;
  width: auto;
  height: auto;
  padding-right: auto;
}

nav{
   display: flex;
   min-height: 10vh;
   justify-content: center;
   align-items: center;
   color:white;
}
.namez{
  color:white;
  background-color: #ff4655;
  font-size: 50px;
}
.positiondesg{
  padding-right: 5px;
}
.Navlist{
  list-style: none;
  width:50%;
  color:white;
}
.positiondes{
  align-self: initial;
  padding-left: 100px;
  border-left: 100px;
}
.Avatar{
  align-items: left;
  padding-right: 40px;
}

.avatarz{
  align-self: initial;
}
:root {
  --background-color: #0f1923;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-right: 100px;
  justify-content: center;
  background-color: var(--background-color);
}

.btn {
  /* Clean style */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  color: var(--button-text-color);
  cursor: pointer;
  /* Clean style */
  
  --button-text-color: var(--background-color);
  --button-text-color-hover: var(--button-background-color);
  --border-color: #7D8082;
  --button-background-color: #ece8e1;
  --highlight-color: #ff4655;
  --button-inner-border-color: transparent;
  --button-bits-color: var(--background-color);
  --button-bits-color-hover: var(--button-background-color);
  
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.btn::before,
.btn::after {
  content: '';
  display: block;
  position: absolute;
  right: 0; left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--border-color);
  transition: all .15s ease;
}

.btn::before {
  top: 0;
  border-bottom-width: 0;
}

.btn::after {
  bottom: 0;
  border-top-width: 0;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn:active::before,
.btn:active::after {
  right: 3px;
  left: 3px;
}

.btn:active::before {
  top: 3px;
}

.btn:active::after {
  bottom: 3px;
}

.btn__inner {
  position: relative;
  display: block;
  padding: 20px 30px;
  background-color: var(--button-background-color);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.btn__inner::before {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--button-bits-color);
}

.btn__inner::after {
  content: '';
  display: block;
  position: absolute;
  right: 0; bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--button-bits-color);
  transition: all .2s ease;
}

.btn__slide {
  display: block;
  position: absolute;
  top: 0; bottom: -1px; left: -8px;
  width: 0;
  background-color: var(--highlight-color);
  transform: skew(-15deg);
  transition: all .2s ease;
}

.btn__content {
  position: relative;
}

.btn:hover {
  color: var(--button-text-color-hover);
}

.btn:hover .btn__slide {
  width: calc(100% + 15px);
}

.btn:hover .btn__inner::after {
  background-color: var(--button-bits-color-hover);
}

.btn--light {
  --button-background-color: var(--background-color);
  --button-text-color: var(--highlight-color);
  --button-inner-border-color: var(--highlight-color);
  --button-text-color-hover: #ece8e1;
  --button-bits-color-hover: #ece8e1;
}
html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #101823;
  font-family: Tungsten-Bold,arial,georgia,sans-serif;
  color: white;
  display: grid;
}

.logo {
  width: 200px;
  height: 200px;
  align-self: end;
  animation: 400ms ease-in-out 500ms 1 slideInFromTop backwards;
}

.first{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #ff4654;
    clip-path: polygon(0 10%, 70% 90%, 35% 90%, 0 50%);
}

.second {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #ff4654;
    clip-path: polygon(100% 10%, 100% 50%, 88% 65%, 55% 65%);
}
.positionlogo{
  padding-left: 60px;
}

h1 {
  align-self: start;
  text-align: center;
  animation: 400ms ease-in-out 800ms 1 slideInFromBottom backwards;
}


@keyframes slideInFromBottom {
  0% {
    transform: translateY(300%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.valorant{
  color: #ff4654;
  padding-left: 10px;
}

@media(max-width:768px){
  .App{
    min-width: auto;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
    .image{
      float: left;
      width: auto;
      height: auto;
      padding-right: auto;
    }
    
    nav{
       display: flex;
       min-height: 10vh;
       justify-content: center;
       align-items: center;
       color:white;
    }
    .namez{
      color:white;
      background-color: #ff4655;
      font-size: 50px;
    }
    .positiondesg{
      padding-right:0%;
    }
    .Navlist{
      list-style: none;
      width:auto;
      color:white;
    }
    .positiondes{
      align-self: initial;
      padding-left: 100px;
      border-left: 100px;
    }
    .Avatar{
      align-items: left;
      padding-right: 40px;
    }
    
    .avatarz{
      align-self: initial;
    }
    .hello{
      padding-left: 100px;
      min-width: 50%;
    }  
  
}